@media screen and (min-width:911px)
    .user-content
        position fixed
        .info
            width: 270px;
            margin: auto;
            text-align: center;
            padding-top: 20px;
        .data-with
            display: table-cell;
            width: 535px;
            vertical-align: top;
    .padding
        display table-cell
        vertical-align: top;

    .user-info, .padding
        width: 310px;

    .user-info
        padding 0
        display table-cell
        vertical-align top
