@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300,600");
@import 'nib/vendor'
vendor-prefixes = o ms moz webkit official
//colors
isky = #6caff1
ired = #ff5967
iorangedarck = #ff794d
iblue = #5082e5
ipurple = #be5fb6
idarkpink = #ff5867
ilightblue = #33ccbe
iyellow = #ffaf40
igreen = #68bf60
iorange = #ffaf40
iblack = #262626
igrey = #464646
iwhite = #f6f5f6
idarkerwhite = #f6f5f6
ilime = #cccc52
ipink = #f279ac
ipurpleblue = #7870cc
ibluegrey = #548899
ibasewhite = #fff
ibasegrey = #e4e4e4
maincolour = ired
