#login
    background maincolour
    height 100%
    width 100%
    position absolute
    z-index 99999
    .container
        background iwhite
        width 240px
        height 290px
        margin calc(50% - 550px) auto
        padding 1em
        border-radius .5em
        img
            width 100%
