.actions
    position: relative;
    margin: 0 0 17px 0;
    padding-left: 5px;
    vertical-align: middle;
    .post-swarm
        position: relative;
        margin: 0 0 17px 0;
        padding-left: 5px;
        vertical-align: middle;
        .something
            position: relative;
            // height: 22px;
            margin-bottom: 6px;
        .post-actions
            height: 22px;
            font-size: 0;
            button
                color ilightgrey
                font-size: 22px;
                background-color transparent !important
                &:hover
                    color maincolour
                span
                    position absolute
                    font-size: 22px;
                    vertical-align center
                    display inline-block
                    &:nth-child(2)
                        top: 4px;
                        margin-left: 29px;
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: .029em;
                        line-height: 16px;

.user-content
    position relative

.user-content,.user-data
    display: table;
    width: 100%;
    table-layout: fixed;

.data-with, .data
    display: block;
    width: auto;

.padding
    display: none;
    width: 310px;

.padding, .data-user, .iser-info
    // display: table-cell;
    vertical-align: top;

.user-info
    display: block;
    width: auto;
    padding: 20px 0;

.info
    width: 535px;
    padding: 0;
    margin: auto;
    text-align: center;
    h2
        display: inline-block;
        margin: 0 0 10px 0;
        word-wrap: break-word;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: .003em;
        line-height: 32px;
    h5
        margin .5em 0 20px 0
        font-weight 400

.icon
    width: 94px;
    height: 94px;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;
    background-size: cover;
    background-color: transparent;
    margin: 0 auto 10px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow hidden

.metrics
    display: table;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    div
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        // padding: 4px 10px;
        color: #464646;
        .metrics-count
            display block
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .015em;
            line-height: 17px;
        .metrics-name
            display block
            font-size: 12px;
            font-weight: 400;
            letter-spacing: .029em;
            line-height: 16px;
    div.controls, div.week, div.day
        border-right: 2px solid #e4e4e4;

.user-date
    display: table;
    width: 100%;
    table-layout: fixed;
    position relative

.data
    vertical-align: top;

.data-center
    position: relative;
    z-index: 1;
    width: 535px;
    margin: auto;

.post
    width: 535px;
    margin-bottom: 30px;

.card
    position: relative;
    background-color: ibasewhite;
    border-radius: 4px;
    .data-control
        padding: 0 15px;
        display inline-block
        vertical-align center
        width 32.838%
        font-size 2em
        &:nth-child(2)
            color iblue
        &:nth-child(3)
            text-align center
            font-size 1.2em
        &:nth-child(4)
            text-align right
    .info
        font-size 1em
        width 49.6%
        &:nth-child(5)
            text-align left
            color iblue
        &:nth-child(6)
            text-align right

.graphic
    position: relative;
    z-index: 1;
    clear: both;
    // height: 535px;
    overflow: hidden;
    width: 535px;
    // background-color: ibasegrey;
    background-size: cover;

    canvas
        margin 0 8px

.card-header
    padding: 13px 10px;
    span
        color ilightblue
    h4,span
        font-weight: 600;
        display inline-block
        vertical-align center

.card-content
    padding: 0 15px 15px;
    margin-top: 15px;
    .comment-your-control
        margin-top 20px
        input
            width: 489px;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: .029em;
            line-height: 16px;
            background-color: iwhite;
            padding: 8px;
            border: 0;
            border-radius: 4px;
            outline: 0;

.control
    box-shadow:0 0 0 2px ibasegrey;
    &:hover
        box-shadow:0 0 0 2px maincolour;

.control-button-large
    font-weight 400
    background-color: ibasewhite;
    position: relative;
    width: 254px;
    border-radius: 1px;
    margin-bottom: 24px;
    padding: 6px;
    color: maincolour;
    &:hover
        background-color ibasewhite
        color: maincolour;
